/*CSS Variables*/
:root{
--primary:#ddd;
--dark:#333;
--light:#fff;
--shadow:0 1px 5px rgba(104,104,104,0.8);
--grad:linear-gradient( to right, #00b7ff ,#ffffc7);
--transb:linear-gradient( to left, #00b7ff ,#ffffc7);

}

html{
	box-sizing: border-box;
	
	color:var(--light);
font-family: 'Roboto', sans-serif;
}
body{

	background-color:black;
	
	line-height: 1.4;
}

.topletter{
font-size: 30px;
text-align: center;
background-color:#00b7ff;
padding: 20px;
margin:0;
color:var(--dark);
border-radius: 10px;
}
.on{
	display: grid;
	grid-template-columns:30fr 1fr;
	
}

.aaa{
	
padding:20px;
margin:70px;
	font-size: 1.7rem;
	border-radius: 13px;
}

.aaa span{

color:#00b7ff;

}
.btn{
	font-family: 'Raleway', sans-serif;
    border-radius: 3px;
	background: var(--light);
	padding-left:1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	text-decoration: none;
	color: var(--dark);
	box-shadow: var(--shadow);
}
.exp{
	    border-radius: 3px;
	background: var(--light);
	padding-left:1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	text-decoration: none;
	color: var(--dark);
	box-shadow: var(--shadow);
	font-family: 'Raleway', sans-serif;

	display: none;
}
#Mawu{
	
	
	padding: 10px;
color:#00b7ff;
	border-radius: 3px;
}

.hide{
font-family: 'Raleway', sans-serif;
	    border-radius: 3px;
	background: var(--light);
	padding-left:1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	text-decoration: none;
	color: var(--dark);
	box-shadow: var(--shadow);
}

#ans{
color:#00b7ff;

}
.top{


	text-align: right;
}

.top a{


	font-size: 10rem;
	text-decoration: none;
	color:#00b7ff;
	
	text-align: center;
}

.up{
	display: grid;
	grid-template-columns: .7fr 1fr;
	padding-bottom: 2px;
	color:#00b7ff;
	border-bottom: 1px solid #00b7ff;
}
.up h1{
	font-size: 2rem;
}
.hommie a{
text-decoration: none;
color:#00b7ff;


}

 @media(max-width: 700px){

 	.aaa{
 		margin:0;
 		font-size: 20px;
 	}
 }