:root{
	--main_background:  linear-gradient( 99deg,  rgba(255,166,0,1) 14.7%, rgba(255,99,97,1) 73% );
	--glass:linear-gradient(to right bottom, rgba(255,255,255,.7),rgba(255,255,255,.3));
    --link: radial-gradient( circle 966px at 6.9% 10.8%,  rgba(92,123,237,1) 0%, rgba(147,186,252,1) 90% );
	--light:#fcfeff;
	--grey:#F2F4F7;
	--nav-link:#495057;
	--the-blue:#1841D2;
};


* {
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
  }
body{
	background: var(--main_background);
	font-family: 'Poppins', sans-serif;
}

img{
	width:100%;
	

}
.img_container{
height:200px;
overflow:hidden;

}


.clip{
	background-color: #f3ec78;
    background-image: var(--main_background);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
main{
min-height:95vh;
	display: flex;
	align-items: center;
	justify-content: center;

}


.glass{

background:var(--glass);
width:75%;
min-height: 90vh;
 backdrop-filter:blur(2rem);
border-radius:8px;
display: flex;



}

.dashboard{
	flex:1;
	background:var(--glass);
	border-top-left-radius:8px;
	border-bottom-left-radius: 8px;
}
.profile{
	text-align: center;
	

}


.profile h4{
	margin-top: -19px;
}
.profile h3{
	margin-top:5px;
}
.content{

	flex:3;


	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.menu{
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

}

.menu a{
	width:100%;
	text-align: center;
text-decoration: none;
color:#3498DB;
margin-bottom: 20px;

padding:6px 0;




}
/*Controls*/


section{
	
	display: none;
}


/*Home*/

.home{
display: grid;
place-items:center;


}
.home h3{
color: #641E16;
margin-left: -120px;
font-size: 20px;
text-transform: uppercase;
}
.home a{
	text-decoration: none;
	color:white;
	background:var(--main_background);
	padding:10px 40px;
	border-radius:4px;

}

.home a:hover{
	transform: translateY(-6%);
}


.description{
	
	color: #CB4335;
	width:60%;

}

.buttons {
	display: grid;
  grid-template-columns: repeat(2,1fr);
	grid-gap: 1rem;
}
/*Skills*/
.skills{
	font-size: 20px;
	
}


.skills ul{
	
    font-weight:700;
    list-style-type:upper-roman;
    color: #CB4335;
}
.skills h3{
	color: #641E16;
  text-transform: uppercase;
}


/*Contacts*/

.contacts h2{
	color:#CB4335;
}

.contacts a{
	text-decoration: none;
text-decoration: none;
	color:white;
	background:var(--main_background);
	border-radius:4px;

}


.socials a, .Phone a{

	padding:10px 40px;
	}

	.Email a{
		padding:10px 30px;
	}
.contacts h1{
	color: #641E16;
  text-transform: uppercase;
}

.contacts a:hover{
	transform: translateY(-6%);
}

/*Projects*/

.projects h3{
	color: #641E16;
  text-transform: uppercase;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 220px;
  height: 220px;
 
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius:5px;
 	



}

.card-container{
display: grid;
grid-template-columns: repeat(2,1fr);
width:100%;
grid-gap: 1rem;


}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;




}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius:5px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background: var(--glass);
  color: #CB4335;
  overflow: hidden;


 }
.flip-card-front img{
	width:10%;
}
/* Style the back side */
.flip-card-back {
  background: var(--glass);
  color: white;
  transform: rotateY(180deg);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.flip-card-back a{
	background: var(--main_background);
	color:#fcfeff;
	text-decoration: none;
	padding:10px 40px;
	border-radius:5px;

	margin-bottom: 15px;

}


/*Display None class*/

.dn{
	display: none;
}

/*Background change on click class*/
.bcc{

	color:#fcfeff !important;
	background: var(--main_background);
}


/*Display class*/

.ds{
	display: flex;
}


/*Media Queries*/


@media(max-width:920px){
main{
	align-items: flex-start;
}
.glass{
	flex-direction: column;

}




.menu a{
	border-radius:5px;
}

img{
	width:45%;
}
main{

	height:170vh;
}

.dashboard{

	flex:1;
}


.content{
	padding-bottom: 50px;
}

.menu{
	padding:10px;
    flex-direction: row;
}

}





@media(max-width:721px){
	main{
		display: none;
	}

	section{
		display: block;
	/* align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 20px;
	min-height:100vh; */
	}

	body{
		background: var(--grey);

}
* {
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
  }
}





/*MOBILE*/
/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav {

  width: 100%;
  height: 55px;
  overflow: hidden;
  transition: height .5s ease-in-out;
  position: sticky;
  top:0;
  background-color: var(--light);
}
.nav-brand, .nav-link, .nav-collapse {
  display: inline-block;
}
.nav-brand, .nav-link {
  color:var(--nav-link) ;
  text-decoration: none;
  line-height: 55px;
  padding: 0 1rem;
  opacity: 0.8;
  cursor: pointer;
}
.nav-brand {
  font-size: 1.25rem;
}
.nav-link {
  font-size: 1rem;
}
.nav-collapse {
  float: right;
  border-top:1px solid var(--grey);

}
.toggler {
  float: right;
  width: 40px;
  height: 18px;
  margin: 18.5px 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  opacity: 0.8;
}
.toggler span {
  display: block;
  width: 90%;
  height: 2px;
  background:var(--the-blue) ;
  position: relative;
  transition: .25s ease-in-out;
}
.toggler span:nth-child(1) {
  top: -7.5px;
}
.toggler span:nth-child(2) {
  top: 0;
}
.toggler span:nth-child(3) {
  top: 7.5px;
}

.nav-brand:hover, .nav-link:hover, .toggler:hover, 
.nav-brand:focus, .nav-link:focus, .toggler:focus {
  opacity: 1;
}

.nav.open .toggler span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.nav.open .toggler span:nth-child(2) {
  transform: translateX(-100%);
  width: 0;
  opacity: 0;
}
.nav.open .toggler span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
.nav.open {
  height: 65vh;

}


 nav.scrolled {
  background: var(--light);
  box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

@media (max-width: 767px) {
  .nav-collapse, .nav-link {
    float: none;
    display: block;

    
  }
  
  .nav-link {
    text-align: center;
  text-transform: uppercase;
   
  }
  .toggler {
    display: block;
  }
}
/*end of navbar*/


/* mobile home*/
#home{
	display:flex;
	 align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: -30px auto 10px auto;
	color:var(--the-blue);
	height:95vh;


	text-transform: uppercase;
}

#home img{
	width:80%;
	margin:20px auto;
}


#resume{
	display:flex;
	align-items: center;
   justify-content: space-between;
   flex-direction: column;
   display: block;
   margin:20px auto;
}
#resume a{
	text-decoration: none;
	background-color: var(--light);
	padding:10px 40px;
	border-radius: 	5px;
	color:var(--the-blue);

}
#dot{
font-size: 40px;
	color:var(--the-blue)
}

#nameandposition{
	text-align: center;
	margin:10px auto;
}


/*mobile about*/


#about{

width:90%;
margin:0 auto 20px auto ;
background-color: var(--light);
color:var(--nav-link);
border-radius: 5px;
}
#inner{
	padding:30px;

}
#about h3{
	padding-left:30px;
	border-bottom: 1px solid var(--grey);
	color:var(--the-blue);
}
#about p{
	margin-bottom: 10px;
}


#about span{
	color:var(--nav-link);
	font-size: 40px;
}

/*mobile skills*/
#skills{
	width:90%;
margin:0 auto 20px auto ;
background-color: var(--light);
color:var(--nav-link);
border-radius: 5px;
}
#skills ul{
	list-style-type:upper-roman;
	padding: 30px 30px 30px 60px;


}

#skills h3{
	padding-left:30px;
	border-bottom: 1px solid var(--grey);
	color:var(--the-blue);
	
}

#skills span{
	color:var(--nav-link);
	font-size: 40px;
}


/*Projects*/
#projectdiv{
	width:90%;
margin:0 auto 20px auto ;
background-color: var(--light);
color:var(--nav-link);
border-radius: 5px;
}
#projectdiv h3{
	color:var(--the-blue);

}

#protopic{
	padding-left:30px;
	border-bottom: 1px solid var(--grey);
}
#projects{
	padding:30px;
}
#projects div{
	padding:10px;
}

#projectdiv span{
	color:var(--nav-link);
	font-size: 40px;
}

#fa a{
	text-decoration: none;
	color:#365FAD;
}

#fa{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*mobile contacts*/

#contacts{
	background-image: url("download.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	
	width:90%;
	margin:0 auto 20px auto ;
	background-color: var(--light);
	color:var(--nav-link);
	border-radius: 5px;
	
	color:var(--light)
}

#contacts a{
	text-decoration: none;
	color:var(--the-blue);
	background-color: var(--light);
	padding:10px 40px;
	border-radius: 5px;
	margin: 10px;
}


#contacttopic{
	padding-left:30px;
	border-bottom: 1px solid var(--grey);
}


#contacts span{
	font-size: 40px;
}

#socials,#Phone,#Email,#call{
	padding:10px 30px 10px 30px;
}


#icons,#whatsapp,#Number,#Gmail{
	display:flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
}

