

*{
	margin:0;
	padding: 0;
scroll-behavior: smooth;
	font-family: 'Work Sans', sans-serif;

}
html{
	background-color:#fcfeff ;
color: #000000;
}
::selection {
  color: red;
  background: yellow;
}
img{
	width:100%;
}

/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}
.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav {
background-color:#fcfeff ;
  width: 100%;
  height: 55px;
  overflow: hidden;
  transition: height .5s ease-in-out;
  position: fixed;
  top:0;

}
.nav-brand, .nav-link, .nav-collapse {
  display: inline-block;
}
.nav-brand, .nav-link {
 

  text-decoration: none;
  line-height: 55px;
  padding: 0 1rem;
  opacity: 0.8;
  cursor: pointer;
}
.nav-brand {
  font-size: 1.25rem;
   color:#55198b ;
 font-family: 'Balsamiq Sans', cursive;
}
.nav-link {
  font-size: 1rem;
   color:#000000 ;
}
.nav-collapse {
  float: right;
}
.toggler {
  float: right;
  width: 40px;
  height: 18px;
  margin: 18.5px 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  opacity: 0.8;
}
.toggler span {
  display: block;
  width: 90%;
  height: 2px;
  background:#868e96;
  position: relative;
  transition: .25s ease-in-out;
}
.toggler span:nth-child(1) {
  top: -7.5px;
}
.toggler span:nth-child(2) {
  top: 0;
}
.toggler span:nth-child(3) {
  top: 7.5px;
}

.nav-brand:hover, .nav-link:hover, .toggler:hover, 
.nav-brand:focus, .nav-link:focus, .toggler:focus {
  opacity: 1;
}

.nav.open .toggler span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.nav.open .toggler span:nth-child(2) {
  transform: translateX(-100%);
  width: 0;
  opacity: 0;
}
.nav.open .toggler span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
.nav.open {
  height: 55vh;
}

@media (max-width: 767px) {
  .nav-collapse, .nav-link {
    float: none;
    display: block;
  }
  .nav-link {
    text-align: center;
  }
  .toggler {
    display: block;
  }
}

 nav.scrolled {
  background: #fcfeff;
  box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

/*end of navbar*/

/*topband*/

.topband{
  margin-top: 60px;
  display: grid;
 background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3) ),url("images/19449742.jpg");
 background-size: cover;
 background-position: center;



 

}
.inner{
  margin:auto;
  width: 80%;
   align-items: center;
 justify-content: center;
  height: 80vh;
 display: grid;
 grid-template-columns: 1fr 1fr;

 text-align: center;
 color: #173753;
 
}
.topband img{
  border-radius: 20px;
    width: 50%;
    box-shadow: 10px 10px  #fff;
}

.one{
  font-size: 3rem;

  font-family: 'Balsamiq Sans', cursive;
}
.two, .three{
  font-size: 2rem;
  font-weight: 200;
  font-family: 'Balsamiq Sans', cursive;
}
.topband a{
color:#173753;
  text-decoration: none;
  padding: 15px 40px;
  background-color: #fcfeff;
  margin: auto 20px;
  font-family: 'Balsamiq Sans', cursive;
  border-radius: 5px;
  box-shadow: 10px 10px 0 #173753;
  transition: .5s ease-in-out;
}
.topband a:hover{
color:#fcfeff;
  
  background-color:#173753 ;

  
  
  box-shadow: 10px 10px 0 #fcfeff;
}
.buttons{
  padding: 30px;
  

}

/* end of topband*/


/* Skills*/
h4.hov {
  writing-mode: vertical-rl;
  z-index: -1;
  position: absolute;
  height:70%;
padding: auto auto;
  
  font-size: 1.2rem;
  top:45rem;
  left:10px;
color:#fcfeff;
background-color:#868e96; 
text-align: center;
border-radius: 5px;
}

.Skills{
  width:60%;
  margin:30px auto;
  color: #868e96;
  text-align: center;

}

.icons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 50px auto;
}
.htm,.css,.js,.xd,.jquery,.figma{
 
  align-items: center;
  justify-content: center;
display: grid;
grid-gap: .5rem;
}


/* End of Skills*/



/*Portfolio*/
.Portfolio{
  width:90%;
  margin:30px auto;
  
}
.inside{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:1rem;
}
.Portfolio h1{
margin: 30px auto;
text-align: center;

}
.Portfolio p,.Portfolio h1, .linkss a {
color:#868e96;

}
.linkss a{
  color: #000;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 5px;
  border:1px solid rgba(134,142,150,.3);

}
.linkss a:hover{
  
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 36px;
 
}

.nsmq, .Solace, .Mawuli, .RealEstate, .Blog{
  padding: 20px 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 36px;
  display: grid;
  grid-gap: 10px;
  border-radius: 10px;
  border:1px solid rgba(134,142,150,.3);
}



.nsmq span{
  color:#000;
  font-weight:600;
  text-transform: uppercase;
}
.linkss{
  display: flex;
  justify-content: space-around;
}












/*Contacts*/

.contacts{
  color: #868e96;
  border-top: 1px solid rgba(134,142,150,.3);
  margin: 30px auto;
  width:90%;

}
.gridd{
  display: flex;
  justify-content: space-around;
}
.school,.location{
   display: flex;
   align-items: center;

   flex-direction: row;

};
.socials{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.h{
  margin: 30px auto;
text-align: center;
}






/*Topband Media Queries*/
@media(max-width: 1141px){

.topband img{
  width:60%;
}


}

@media(max-width: 1063px){

.inner{
  width:90%;
}


}


@media(max-width: 940px){

.inner{
grid-template-columns: 1fr;
height:150vh;

}

.topband img{
margin: auto;
  width:40%;
}
}
@media(max-width: 612px){
.topband img{

  width:50%;
}

}

@media(max-width: 530px){
.topband img{

  width:60%;
}

}


@media(max-width: 472px){
.topband a{

  padding:10px 30px;
}

}

@media(max-width: 432px){
.topband a{

  padding:10px 20px;
}
.topband img{
  width:80%;
}
}


@media(max-width: 384px){
.topband a{

  padding:10px 10px;
}
.buttons{
  padding: 20px;
  

}
}
/*End of Topband Media Queries*/


/*Skills Media Queries*/

@media(max-width: 985px){

h4.hov{

  top:40rem;
}
}

@media(max-width: 940px){

h4.hov{

  top:65rem;
}
}

@media(max-width: 875px){

h4.hov{

  top:71rem;
}
}

@media(max-width: 540px){

h4.hov{

  top:83rem;
}
}

@media(max-width: 875px){

.icons{
  grid-template-columns: repeat(2,1fr);
}

}

@media(max-width: 540px){

.icons{
  grid-template-columns: repeat(1,1fr);
}

}

/*End of Skills Media Queries*/


/*Project Media Queries*/
@media(max-width:1085px ){

  .inside{
    grid-template-columns: repeat(1,1fr);
    width:60%;
    margin: auto;
  }
}


@media(max-width:895px ){

  .inside{
    grid-template-columns: repeat(1,1fr);
    width:70%;
    margin: auto;
  }
}

@media(max-width:771px ){

  .inside{
    grid-template-columns: repeat(1,1fr);
    width:80%;
    margin: auto;
  }
}

@media(max-width:641px ){

  .inside{
    grid-template-columns: repeat(1,1fr);
    width:90%;
    margin: auto;
  }
}

@media(max-width:567px ){

  .inside{
    grid-template-columns: repeat(1,1fr);
    width:98%;
    margin: auto;
  }

  .yyy{
    display: flex;
  justify-content: space-between;
  }
}

@media(max-width:510px ){

  .inside{
    grid-template-columns: repeat(1,1fr);
    width:98%;
    margin: auto;
  }

  .linkss{
    display: grid;
    grid-gap: 1rem;
    text-align: center;
  }
}

/*End of Project Media Queries*/
























body {
  overflow: hidden;
}


/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url("https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif");
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}













<style>
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #173753;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;

}
</style>
