
/*CSS Variables*/
:root{
--primary:#ddd;
--on:#990011;
--dark:#333;
--light:#fcfeff;
--shadow:0 1px 5px rgba(104,104,104,0.8);
--grad:linear-gradient( to right, #00b7ff ,#ffffc7);
--transb:linear-gradient( to left, #00b7ff ,#ffffc7);
font-size: 1
}


/*general tags*/
body{
 font-family: 'Roboto', sans-serif;
background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 2px,rgba(0,0,0,0.03) 2px, rgba(0,0,0,0.03) 3px,transparent 3px, transparent 5px,rgba(0,0,0,0.03) 5px, rgba(0,0,0,0.03) 7px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 9px,rgb(255,255,255) 9px, rgb(255,255,255) 21px,rgb(255,255,255) 21px, rgb(255,255,255) 31px,rgb(255,255,255) 31px, rgb(255,255,255) 40px); background-size: 20px 20px;
  margin:0;
  padding: 0;
  line-height: 1.4;
color: var(--on);
}



nav{
	background-color: var(--on);
width:100%;
padding: 1.3rem 0;
position: fixed;
z-index: 1;
}
nav ul{
	list-style: none;
margin: 0;
display: flex;
justify-content: space-around;
}

nav a{
	color: var(--light);
	text-decoration: none;
}

nav a:hover{
	border-bottom: 2px dotted var(--light);
}
.about{
	padding-top:3rem;
}

.c a i:hover{
/*animation: bounce .7s linear; */
color: #dc3545;

}

.languages,.frameworks,.programs,.Stacks{
overflow-x: hidden;
overflow-y: hidden;
}
.c h1{
	margin: 0;
	font-size: 3rem;
	font-weight: 700;
}
.c h2,.icons{
	margin: 0;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
}

.icons a{
	margin:auto 5px;
}

 .icons a{
color: var(--on);
	text-decoration: none;


}

.c{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 50vh;
}

.pic{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('mmm.jpg');
	height: 50vh;
background-size:cover;

background-repeat: no-repeat;

}

.Stacks{
margin: 60px  auto;

	text-align: center;
}
.Stacks ul{
	list-style: none;
}

.portfolio h1{
	text-align: center;
	margin-bottom: 30px;
}

.projects a{
	color: var(--on);
	text-decoration: none;
	padding: 10px 40px;
	border: 2px solid var(--on);

	background-image: linear-gradient(to right, #990011 50%, transparent 50%);
background-position:100% 0%;

background-size: 200% 100%;
transition:  0.5s;
}



.projects a:hover{
	color:#fcfeff;
background-position: 0% 50%;
    box-shadow: var(--shadow);
}

.projects {
	display: flex;
	flex-direction: column;
	text-align: center;
	width:90%;
	margin:auto;

}


.dart,.flutter,.nsmq{
padding: 30px 20px;
	margin: 30px auto;
	background-color: var(--light);
	box-shadow: var(--shadow);
}


#an{
	 animation: linear infinite alternate;
  animation-name: run;
  animation-duration: 1s;
}


@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
}

@-webkit-keyframes run {
    0% {
      
      transform: rotate(30deg);
    }
     100% {
      
      transform: rotate(-30deg);
      

    }
  
}



@media(min-width: 517px){


	.c,.pic{
		height: 80vh;
	}
}

@media(min-width: 620px){


	.c,.pic{
		height: 100vh;
	}
}

@media(min-width: 1020px){

.Stacks{
	display: flex;
	width:80%;
	justify-content: space-between;
}


.projects {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	text-align: center;
	grid-gap: 1rem;

}

.pic{
	height: 100vh;
}

	}