@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.hero{
    background:#f1e9da;
    height:calc(70vh);
    width:100%;
    padding:0;
    margin:0;
    color:#333333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}
.name{
    font-weight: 700;
}
.gif img{
    width:100%;
}


.about{
  
    width:40%;
    font-family: 'Inter', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wave{
    width:10%;
    animation: sed infinite 3s ease-in-out;

}

.socials img{
    margin-right: 10px;
}
@keyframes sed {
    


    0% {
        transform: rotate(0) scale(1);
    }
    
    
    60% {
        transform: rotate(0) scale(1);
    }
    
    75% {
        transform: rotate(0) scale(1.12);
    }
    
    80% {
        transform: rotate(0) scale(1.1);
    }
    
    84% {
        transform: rotate(-10deg) scale(1.1);
    }
    
    88% {
        transform: rotate(10deg) scale(1.1);
    }
    
    92% {
        transform: rotate(-10deg) scale(1.1);
    }
    
    96% {
        transform: rotate(10deg) scale(1.1);
    }
    
    100% {
        transform: rotate(0) scale(1);
    }
    }