:root{
	--main_background:  linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
	--glass:linear-gradient(to right bottom, rgba(255,255,255,.7),rgba(255,255,255,.3));
    --link: radial-gradient( circle 966px at 6.9% 10.8%,  rgba(92,123,237,1) 0%, rgba(147,186,252,1) 90% );
	--light:#fcfeff;
	--grey:#F2F4F7;
	--nav-link:#495057;
	--the-blue:#1841D2;
	--black:#000;
};
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
  }

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav {

  width: 100%;
  height: 55px;
  overflow: hidden;
  transition: height .5s ease-in-out;
  position: sticky;
  top:0;
  background-color: #f1e9da;
  font-family: 'Space Grotesk', sans-serif;
  font-weight:400 ;
}
.nav-brand, .nav-link, .nav-collapse {
  display: inline-block;
}
.nav-brand, .nav-link {
  color:#333333;
  text-decoration: none;
  line-height: 55px;
  padding: 0 1rem;
  opacity: 1;
  cursor: pointer;
}
.nav-brand {
  font-size: 1.25rem;
}
.nav-link {
  font-size: 1rem;
}
.nav-collapse {
  float: right;
  border-top:1px solid var(--grey);

}
.toggler {
  float: right;
  width: 40px;
  height: 18px;
  margin: 18.5px 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  opacity: 1;
}
.toggler span {
  display: block;
  width: 90%;
  height: 2px;
  background:var(--the-blue) ;
  position: relative;
  transition: .25s ease-in-out;
}
.toggler span:nth-child(1) {
  top: -7.5px;
}
.toggler span:nth-child(2) {
  top: 0;
}
.toggler span:nth-child(3) {
  top: 7.5px;
}

.nav-brand:hover, .nav-link:hover, .toggler:hover, 
.nav-brand:focus, .nav-link:focus, .toggler:focus {
  opacity: .8;
}

.nav.open .toggler span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.nav.open .toggler span:nth-child(2) {
  transform: translateX(-100%);
  width: 0;
  opacity: 0;
}
.nav.open .toggler span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
.nav.open {
  height: 65vh;

}


 nav.scrolled {
  background: var(--light);
  box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

@media (max-width: 767px) {
  .nav-collapse, .nav-link {
    float: none;
    display: block;

    
  }
  
  .nav-link {
    text-align: center;
  text-transform: uppercase;
   
  }
  .toggler {
    display: block;
  }
}


